In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
df=pd.read_csv(r"C:\Users\rahul\Downloads\ML_Data\Anaysis_Data\Diwali Sales Data.csv")
df

In [ ]:
df.head(2)

In [ ]:
df["User_ID"].drop_duplicates()

# Total_Customer ?

In [ ]:
print("Total_Customer_3752")

# Total_Order ?

In [ ]:
df["Orders"].sum()

# Total _Amount  received

In [ ]:
df["Amount"].sum()

# Avg _Person_Amount

In [ ]:
t=3752/106249129
t

In [ ]:
result = 3.531323066187206

rounded_result = round(result)
print(rounded_result)

In [ ]:
df.head(2)

# BASIC_INFORMATION_DATA

In [ ]:
df.columns

In [ ]:
df["Age Group"].unique()

In [ ]:
df["Age"].unique()

In [ ]:
df["State"].unique()

In [ ]:
df["Zone"].unique()

In [ ]:
df["Occupation"].unique()

In [ ]:
df["Product_Category"].unique()

In [ ]:
df["Orders"].unique()

In [ ]:
df.shape

# Data_Cleaning

In [ ]:
df.info()

In [ ]:
df.drop(["Status","unnamed1"],axis=1 ,inplace=True)

In [ ]:
df.head()

# Is There Null Value Here In Columns

In [ ]:
df.isnull().sum()

# Drop the Null value

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

# Data _Types _Changing

In [ ]:
df.info()

In [ ]:
df["Amount"]=df["Amount"].astype('int')

In [ ]:
df["Amount"].dtype

# Colunms Rename

In [ ]:
df.rename(columns={"Marital_Status":"Shaadi"},inplace=True)
df

In [ ]:
df.describe()

In [ ]:
df[["Age","Orders","Amount"]].describe()

# Exploratory Data Analysis (EDA)

# Gender wise

In [ ]:
df.columns

# "Females bought more than males."

In [ ]:
g=sns.countplot(x="Gender",data=df)

for i in g.containers:
    g.bar_label(i)

In [ ]:
sal=df.groupby(["Gender"],as_index=False)["Amount"].sum().sort_values(by="Amount",ascending=False)
sal

# Genders by Total Amount

In [ ]:
df_grouped = df.groupby('Gender')['Amount'].sum().reset_index()
top_genders_O = df_grouped.sort_values(by='Amount', ascending=False)


plt.figure(figsize=(15, 10))
plt.bar(top_genders_O['Gender'], top_genders_O['Amount'], color='Red')

# Add labels and title
plt.xlabel('Gender', size=15)
plt.ylabel('Total Amount', size=15)
plt.title('Genders by Total Amount', size=20)

# Add value labels on top of the bars
for i in range(len(top_genders_O)):
    plt.text(i, top_genders_O['Amount'].iloc[i], f'{top_genders_O["Amount"].iloc[i]:,.0f}', 
             ha='center', va='bottom', fontsize=15)

plt.tight_layout()

plt.show()

# Gender Vs  Total Orders

In [ ]:
sal=df.groupby(["Gender"],as_index=False)["Orders"].sum().sort_values(by="Orders",ascending=False)
sal

In [ ]:

df_grouped = df.groupby('Gender')['Orders'].sum().reset_index()

top_genders_O = df_grouped.sort_values(by='Orders', ascending=False)

plt.figure(figsize=(15, 10))

# Create the bar chart
plt.bar(top_genders_O['Gender'], top_genders_O['Orders'], color='Red')


# Add labels and title
plt.xlabel('Gender', size=15)
plt.ylabel('Total Orders', size=15)
plt.title('Genders by Total Orders', size=20)




# Add value labels on top of the bars
for i in range(len(top_genders_O)):
    plt.text(i, top_genders_O['Orders'].iloc[i], f'{top_genders_O["Orders"].iloc[i]:,.0f}', 
             ha='center', va='bottom', fontsize=15)


    
# Display the plot
plt.tight_layout()
plt.show()

# "From the above graphs, we can see that most of the buyers and purchases are made by females compared to males."

In [ ]:
df.columns

# Age Group

In [ ]:
a=sns.countplot(data=df ,x="Age Group",hue ="Gender")

for i in a.containers:
    a.bar_label(i)

# "There are more females than males in the 26 to 35 age group."

In [ ]:
Age_Group=df.groupby(["Age Group"],as_index=False)["Amount"].sum().sort_values(by="Amount",ascending=False)
sns.set(rc={'figure.figsize':(10,7)})

sns.barplot(x="Age Group",y="Amount",data=Age_Group)

In [ ]:
Age_Group=df.groupby(["Age Group"],as_index=False)["Amount"].sum().sort_values(by="Amount",ascending=False)
Age_Group

# "From the above graphs, we can see that most of the buyers are females Age Group  between 26 and 35 years."

# State

In [ ]:
df.columns

# State  Vs Orders

In [ ]:
# Aggregate the data by state, summing the amounts
df_grouped = df.groupby('State')['Orders'].sum().reset_index()

top_states_O = df_grouped.sort_values(by='Orders', ascending=False).head(10)

# Plot the data
plt.figure(figsize=(15, 10))

# Create the bar chart
plt.bar(top_states_O['State'], top_states_O['Orders'], color='lightgreen')



# Add labels and title
plt.xlabel('States', size=15)
plt.ylabel('Total Orders', size=15)
plt.title('Top 10 States by Total Orders', size=10)



# Add value labels on top of the gbars
for i in range(len(top_states_O)):
    
    plt.text(i, top_states_O['Orders'].iloc[i], f'{top_states_O["Orders"].iloc[i]:,.0f}', 
             ha='center', va='bottom', fontsize=15)

# Display the plot
plt.tight_layout()
plt.show()

In [ ]:
df.groupby(["State"],as_index=False)["Orders"].sum().sort_values(by="Orders",ascending=False).head(10)

# States  Vs  Amount

In [ ]:
df_grouped = df.groupby('State')['Amount'].sum().reset_index()

top_states = df_grouped.sort_values(by='Amount', ascending=False).head(10)

plt.figure(figsize=(15, 10))

# Create the bar chart
plt.bar(top_states['State'], top_states['Amount'], color='Orange')

# Add labels and title
plt.xlabel('States', size=15)
plt.ylabel('Total Amount', size=15)
plt.title('Top 10 States by Total Amount', size=10)

# Add value labels on top of the bars

for i in range(len(top_states)):
    
    plt.text(i, top_states['Amount'].iloc[i], f'{top_states["Amount"].iloc[i]:,.0f}', 
             ha='center', va='bottom', fontsize=15)

# Display the plot
plt.tight_layout()
plt.show()

In [ ]:
df.groupby(["State"],as_index=False)["Amount"].sum().sort_values(by="Amount",ascending=False).head(5)

In [ ]:
df.groupby(["State"],as_index=False)["Orders"].sum().sort_values(by="Orders",ascending=False).head(5)

# "From the above graphs, we can see that most of the total sales/amount come from Uttar Pradesh, Maharashtra, and Karnataka, respectively."

In [ ]:
df.columns

# Marital_Status

In [ ]:
m = sns.countplot(x="Shaadi",data=df)


sns.set(rc={'figure.figsize':(7,3)})
for i in m.containers:
    m.bar_label(i)

In [ ]:
df.columns

In [ ]:
Age_Group=df.groupby(["Shaadi","Gender"],as_index=False)["Amount"].sum().sort_values(by="Amount",ascending=False)
sns.set(rc={'figure.figsize':(10,7)})

sns.barplot(x="Shaadi",y="Amount",data=Age_Group,hue="Gender")

# From Above graphs we can see that most of the the buyer are married (women) and they have high purchasing Power

# Zone

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

# Group the data by 'Zone', and sum the 'Amount'
df_grouped = df.groupby('Zone')['Amount'].sum().reset_index()

# Sort the top 10 states by the highest amount
top_states = df_grouped.sort_values(by='Amount', ascending=False).head(10)

# Prepare a pie chart of the data
plt.figure(figsize=(10, 5))

# Create the pie chart
plt.pie(top_states['Amount'], labels=top_states['Zone'], autopct='%1.1f%%', startangle=120, colors=plt.cm.Paired.colors)

# Add a title
plt.title('Zone by Amount % ', size=10)

# Display the chart
plt.tight_layout()
plt.show()

# Orders by Zone and Marital Status

In [ ]:
pivot_table = df.pivot_table(index='Zone', columns='Shaadi', values='Orders', aggfunc='count')

sns.heatmap(pivot_table, annot=True, fmt='.0f', cmap='Oranges')

plt.show()

# Occuption

In [ ]:
df.columns

In [ ]:
ss=sns.countplot(x="Occupation",data=df)

sns.set(rc={'figure.figsize':(20,10)})
for i in ss.containers:
    ss.bar_label(i)


# sabse jada customer kaha se hai

In [ ]:
occ = df.groupby(["Occupation"],as_index=False)["Amount"].sum().sort_values(by="Amount",ascending=False)


sns.set(rc={'figure.figsize':(20,10)})
sns.barplot(x="Occupation",y="Amount",data=occ)

# "From the graphs above, we can see that most of the buyers are working in IT, healthcare, and aviation."

# Orders by State and Marital Status

In [ ]:
pivot_table = df.pivot_table(index='State', columns='Shaadi', values='Orders', aggfunc='sum')

sns.heatmap(pivot_table, annot=True, fmt='.0f', cmap='Oranges')

plt.show()

# Product_Category  Vs  Count

In [ ]:
pp=sns.countplot(x="Product_Category",data=df)


sns.set(rc={'figure.figsize':(25,20)})

for i in pp.containers:
    pp.bar_label(i)

In [ ]:
df.groupby(["Product_Category"],as_index=False)["Orders"].count().sort_values(by="Orders",ascending=False).head()

# Product_Category    Vs Amount

In [ ]:
df_grouped = df.groupby('Product_Category')['Amount'].sum().reset_index()

Product_Category_1 = df_grouped.sort_values(by='Amount', ascending=False).head(10)


plt.figure(figsize=(18, 15))
# Create the bar chart

plt.bar(Product_Category_1['Product_Category'], Product_Category_1['Amount'], color='pink')


plt.xlabel('Product_Category', size=15)
plt.ylabel('Total Amount', size=15)
plt.title('Top 10 Product_Category by Total Amount', size=10)



for i in range(len(Product_Category_1)):
    
    plt.text(i, Product_Category_1['Amount'].iloc[i], f'{Product_Category_1["Amount"].iloc[i]:,.0f}', 
             ha='center', va='bottom', fontsize=15)


    

plt.tight_layout()
plt.show()

In [ ]:
df.groupby(["Product_Category"],as_index=False)["Amount"].sum().sort_values(by="Amount",ascending=False).head()

# Most  of the  sold Products are  From Food,Clothings , Electronoics Category

In [ ]:
df.columns

# Products

In [ ]:
pp = df.groupby(["Product_ID"], as_index=False)["Orders"].sum().sort_values(by="Orders", ascending=False).head(10)


sns.set(rc={'figure.figsize': (20, 10)})
ax = sns.barplot(x="Product_ID", y="Orders", data=pp, palette="viridis")

# Top Selling Products Items

In [ ]:
pp2 = plt.subplots(figsize=(12, 7))

# Creating a pie chart
df.groupby('Product_ID')['Orders'].sum().nlargest(10).plot(kind='pie', ax=pp2[1], autopct='%1.1f%%', startangle=90)

pp2[1].set_title('Selling Products', fontsize=18)
plt.ylabel('')  # Hide the y-label for pie chart
plt.show()


"Married women aged 26 to 35 years from Uttar Pradesh, Maharashtra, and Karnataka who work in IT, healthcare, and aviation are more likely to buy products from the food and electronics categories."

"Thank you for viewing this project."